{% extends "flights/layout.html" %}
{% block body %}
<h1>{{Flight.id}}</h1>
<ul>
  {{Flight.origin}} to {{Flight.destination}} in  {{Flight.duration}} minutes
</ul>
<ul>
  {% for passenger in Passengers %}
  <li>{{passenger.first_name}} {{passenger.last_name}}</li>
  {% empty %}
    <ul>No Passengers</ul>
  {% endfor %}
  <a href={% url 'index' %}>Back to Flights list</a>
</ul>
<form action={% url 'book' Flight.id %} method="post">
{% csrf_token %}
<select name="passenger" id="">
{% for passenger in non_passengers %}
  <option value="{{ passenger.id }}"> {{ passenger.first_name }} {{ passenger.last_name }}</option>
  {% endfor %}
</select>
<input type="submit">
  </form>
{% endblock %}