{% extends "flights/layout.html" %}
{% block body %}
<div class="flights">
    <ul>
        {% for cities in flightslist %}
        <li> {{ cities.id }}</li>
        {% endfor %}
    </ul>
</div>
<div class="bookingdropdown">
    <h1>Flight Booking</h1>
    <form action={% url 'flightapp:search' %} method="post">
    {% csrf_token %}
        <label for="from">From:</label>
        <select id="from" name="from">
            <!-- Iterate over starting places -->
            {% for place in city %}
            <option value="{{ place.code }}">{{ place }}</option>
            {% endfor %}
        </select>

        <label for="destination">To:</label>
        <select id="destination" name="destination">
            <!-- Iterate over destinations -->
            {% for place in city %}
            <option value="{{ place.code }}">{{ place }}</option>
            {% endfor %}
        </select>
        <button type="submit" value="search">Search Flights</button>
    </form>
  </div>
<div>
    <a href={% url 'user:logout' %}>Logout</a>
</div>
{% endblock%}